<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	
	<title></title>
	<style type="text/css">
	.borda{
		border-radius: 20px;
		box-shadow: 0px 0px 3px;
	}
	.busca{
		height: 40px;
		width: 500px;
	}

	input:focus, select:focus {
		box-shadow: 0 0 0 0;
		border: 0 none;
		outline: 0;
	}
	input{
		box-shadow: 0 0 0 0;
		border: 0 none;
		outline: 0;
	}
</style>
</head>
<body class="mt-4 ml-4">

	<div class="container">
		<h3 class="text-center">Eventos</h3>
		<br>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs justify-content-center mb-5" role="tablist">
			<li class="nav-item mr-5">
				<a class="nav-link active" data-toggle="tab" href="#home">Em Andamento</a>
			</li>
			<li class="nav-item mr-5">
				<a class="nav-link" data-toggle="tab" href="#menu1">Próximos</a>
			</li>
			<li class="nav-item mr-5">
				<a class="nav-link" data-toggle="tab" href="#menu2">Concluídos</a>
			</li>
		</ul>

		<div class="text-center"> 

			<center><p class="busca borda"><input type="search" class="" name="q" style="height: 40px; width: 450px"></p></center>

		</div>

		<br><br>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-3">
					<div class="card text-center">
						<div class="card-header">Dashboard</div>

						<div class="card-body">
							@if (session('status'))
							<div class="alert alert-success" role="alert">
								{{ session('status') }}
							</div>
							@endif

							You are logged in!
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Tab panes -->
		<div class="tab-content">
			<div id="home" class="container tab-pane active"><br>
				<h3>HOME</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div id="menu1" class="container tab-pane fade"><br>
				<h3>Menu 1</h3>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
			<div id="menu2" class="container tab-pane fade"><br>
				<h3>Menu 2</h3>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
			</div>
		</div>
	</div>

	<br><br>
	<button type="button" class="btn btn-outline-primary btn-sm">Inscrever-se</button>
</body>
</html>